<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topsis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <div>
      <div class="mt-5 mb-5">
        <h1 class="fw-bolder text-center">Topsis Score Calculator</h1>
      </div>
    
      <div class="container my-5 border shadow rounded-end" style="width: 400px;">
        <form action="/" name='passdata' method="POST" class="my-4" enctype="multipart/form-data">  
          <div class="mb-3 pt-0">
            <label for="formFile" class="form-label"><b>File Name</b></label>
            <input class="form-control" accept=".csv" name="file" type="file" id="formFile">
          </div>
          <div class="mb-3">
            <label for="weights" class="form-label"><b>Weights</b></label>
            <input class="form-control" type="text" name="weights" id="weights" placeholder="eg. 1,1,1,1,1">
          </div>
          <div class="mb-3">
            <label for="Impacts" class="form-label"><b>Impacts</b></label>
            <input class="form-control" type="text" name="impacts" id="Impacts" placeholder="eg. +,+,+,+,+">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><b>Email address</b></label>
            <input class="form-control" type="email" name="email" placeholder="abc@gmail.com" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="mt-5 mb-5">
        <h1 class="text-center">Check your Spam folder for email.</h1>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>